<body role="document">
  <div class="container padder" role="main">
    <div class="page-header">
      <h1>Listing Categories</h1>
    </div>

    <p>
      <%= link_to 'New category', new_category_path %>
    </p>

    <table class="table">
      <thread>
        <tr>
          <th>Category</th>
          <th>Description</th>
        </tr>
      </thread>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.title %></td>
            <td><%= category.text %></td>
            <td><%= link_to 'Show', category_path(category) %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <%= link_to 'Back', controller: 'welcome' %>
    </p>
  </div>
</body>
