<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @category.text %>
</p>

<h2>Products:</h2>
<%= render @category.products %>

<h2>Add a product:</h2>
<%= render "products/form" %>

<%= link_to 'Back', categories_path %>
<%= link_to 'Edit', edit_category_path %>
